

body {
    font-family: 'Roboto',arial,sans-serif;
    font-weight: 300;
    line-height: 1.2em;
    margin: 0 auto;
    overflow-x: hidden;
}

.head {
    font-family: 'Roboto',arial,sans-serif;
    padding-left: 250px;
    position: sticky;
    z-index: 3;
}

header {
    padding-top: 1px;
    width: 100vw;
    background: rgb(251, 251, 251);
    display: flex;
    align-items: center;
    transition: padding 0.25s ease;
}


li, a {
    padding-top: 13px;
    font-family: 'Roboto',arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    display: list-item;
}


.logo {
    height: 50px;
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

    .nav_links li {
        display: inline-block;
        padding: 0px 20px;
    }

        .nav_links li a {
            color: #009cdc;
            transition: all 0.3s ease 0s;
        }

        .nav_links li:hover a {
            color: #2772ff;
        }

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: bold;
}

a {
    list-style-position: inside;
    line-height: 1.3em;
    color: #009cdc;
    text-decoration: none;
}

    a:hover {
        color: #000;
    }

.minimize {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 450px;
}

.center {
    width:300px;
    height:auto;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    cursor: auto;
    font-style: normal;
    word-wrap: break-word;
    box-sizing: border-box;
    color: #202124;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    text-align: center;
    font-size: 32px;
    line-height: 44px;
    max-width: 500px;
    margin-bottom: .5em;
    margin-top: 0;
}

.title {
    padding-top:60px;
    color: #202124;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    margin-bottom: 11px;
    text-align: center;
    font-size: 48px;
}

.judge-text {
    font-weight: 300;
    cursor: pointer;
    box-sizing: border-box;
    color: #202124;
    transition: .3s font-size, .3s max-width;
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 595px;
}


#bio {
    font-weight: 300;
    word-wrap: break-word;
    list-style-position: outside;
    list-style-type: none;
    color: #202124;
    text-align: left;
    font-size: 18px;
    line-height: 27px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.dlbtn {
    margin-left: 600px;
}

.diffA{
    list-style:none;
}