body {
    font-family: 'Roboto',arial,sans-serif;
    font-weight: 300;
    line-height: 1.2em;
    margin: 0 auto;
    overflow-x: hidden;
}

.head {
    font-family: 'Roboto',arial,sans-serif;
    padding-left: 250px;
    position: fixed;
}

header {
    display: flex;
    align-items: center;
    transition: padding 0.25s ease;
    position:relative;
}


li, a {
    font-family: 'Roboto',arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    display: list-item;
}


.logo {
    height: 50px;
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

    .nav_links li {
        display: inline-block;
        padding: 0px 20px;
    }

        .nav_links li a {
            color: #009cdc;
            transition: all 0.3s ease 0s;
        }

        .nav_links li:hover a {
            color: #2772ff;
        }

#top-content {
    padding-top: 120px;
    padding-left: 255px;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    font-family: Audiowide;
}


a {
    list-style-position: inside;
    line-height: 1.3em;
    color: #009cdc;
    text-decoration: none;
}

    a:hover {
        color: #000;
    }

.about-area, .port-area, .banner-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.text-part {
    width: 65%;
    height: 80%;
}

.about-area {
    background-color: #fefefe;
}

.port-area {
    background-color: #262626;
    color: #fff;
}

.latest {
    padding: 10px 0;
    position: absolute;
    width: 1000px;
}

#top-content {
    display: block;
}

#latest {
    height: 330px;
    position: relative;
    width: 1024px;
}

    #latest ul {
        position: absolute;
    }


latest-nav li#latest-nav-1 {
    background-color: #fa4842;
}

#latest-nav li.off {
    border-top: 15px solid #fff;
}

#latest-nav li.off {
    height: 5px;
    opacity: 0.35;
}

#latest-nav li {
    cursor: pointer;
    float: left;
    height: 5px;
    transition: opacity 0.15s ease,height 0.15s ease,border-top 0.15s ease;
    -moz-transition: opacity 0.15s ease,height 0.15s ease,border-top 0.15s ease;
    -webkit-transition: opacity 0.15s ease,height 0.15s ease,border-top 0.15s ease;
    width: 16.6%;
}

.ptag {
    margin: 0;
    padding: 3px;
}

.slidershow {
    height: 400px;
    overflow: hidden;
}

.middle {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
}

#navigation {
    position: absolute;
    bottom: 35px;
    left: 60%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    border-top: 15px solid #fff;
    width: 200px;
    opacity: 0.35;
    height: 5px;
    cursor: pointer;
    transition: 0.4s;
}


.slides {
    width: 500%;
    height: 100%;
    display: flex;
    margin-top: 30px;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

    .slide img {
        display: block;
        margin: auto;
        max-height: 250px;
        max-width: 600px;
        width: auto;
    }

latest .container img {
    display: block;
    margin: auto;
    max-height: 250px;
    max-width: 600px;
}



.title {
    font-family: 'Roboto',arial,sans-serif;
    margin: 20px 0 10px;
    overflow: hidden;
    padding-top: 10px;
    height: 100px;
    line-height: 40px;
    clear: both;
    float: left;
}

#latest .card {
    position: absolute;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #eee;
    height: 204px;
    padding: 20px;
    position: absolute;
    width: 296px;
}

div.card {
    top: 40px;
    left: 650px;
}

.highlight {
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 300;
    line-height: 1.2em;
    font-size: .8em;
    margin-top: 20px;
    width: 100%;
    float: left;
}

.tripleC {
    width: 25%;
    height: 320px;
    background-color: #fff;
    border: 1px solid #bbb;
    border-right-width: 0;
    margin-top: 65px;
    margin-bottom: 50px;
    position: relative;
    margin-right: 20px;
}

.image img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    max-height: 200px;
}

.titleC {
    padding-left: 20px;
    color: #000;
    font-weight: bold;
    margin-top: 10px 0;
    padding-top:14px;
    font-size: .8em;
    width: 100%;
    padding-bottom:0px;
}

.titleC1 {
    padding-left: 20px;
    color: #000;
    font-weight: bold;
    margin-top: 10px 0;
    padding-top: 19px;
    font-size: .8em;
    width: 100%;
    padding-bottom: 0px;
}


.titleS {
    padding-left: 5px;
    color: #000;
    margin: 0;
    font-size: .8em;
    margin-top: 5px;
    width: 100%;
}

.des {
    width: 100%;
    min-width: 300px;
    overflow: hidden;
    font-size: 10px;
    padding: 3px;
    text-align: left;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 12px;
    position: relative;
}

h1 {
    font-size: 30px;
}

.ribbon {
    position: absolute;
}

.ribbon-1 {
    width: 125px;
    height: 27px;
    background: #4c8aff;
    top: 125px;
    left: -10px;
}

    .ribbon-1:before {
        content: "";
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid #153a4c;
        border-top: 5px solid transparent;
        border-bottom: 5px solid #153a4c;
        top: -10px;
        left: 0;
    }

.ribbon-2 {
    width: 100px;
    height: 27px;
    background: #4c8aff;
    top: 15px;
    left: -10px;
}

    .ribbon-2:before {
        content: "";
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid #153a4c;
        border-top: 5px solid transparent;
        border-bottom: 5px solid #153a4c;
        top: -10px;
        left: 0;
    }


.triangle {
    content: "";
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid #ccc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    top: 60px;
    left: -20px;
}

.triangle2 {
    content: "";
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid #ccc;
    border-top: 10px solid #ccc;
    border-bottom: 10px solid transparent;
    top: 80px;
    left: -20px;
}

.triangle3 {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid white;
    top: 60px;
    left: -20px;
}

.triangle4 {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    top: 80px;
    left: -20px;
}


a:hover {
    color: #0645AD;
    background-color: transparent;
}

a:active {
    color: #0645AD;
    background-color: transparent;
}

#top_title {
    height: 100px;
    line-height: 40px;
    visibility: visible;
    font-size: 26px;
    margin: 0;
}

.links {
    list-style-type: disc;
    margin-block-start: 1em;
    text-transform: lowercase;
    margin-block-end: 1em;
    padding-top: 30px;
    margin-top: 75px;
    text-transform: capitalize;
}

#linkID {
    padding: 10px;
    text-align: left;
    margin: 0;
    width: 270px;
}

.fontIcons {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    list-style-type: none;
    padding-right: 120px;
    padding-top: 25px;
}


.fa-linkedin-square {
    opacity: 0.4;
}

    .fa-linkedin-square:hover {
        opacity: 1;
    }

.fa-envelope {
    opacity: 0.4;
}

    .fa-envelope:hover {
        opacity: 1;
    }

.fa-github-square {
    opacity: 0.4;
}

    .fa-github-square:hover {
        opacity: 1;
    }

.tripCards {
    min-width: 1100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 0 31%;
}

.sixCards {
    min-width:1093px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 0 31%;
}

span {
    font-size: 10px;
}

.minimize {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 450px;
}


#navigation .bar:hover {
    display: block;
    height: 10px;
    opacity: 1;
    border-top: 10px solid #fff;
}


#navigation #bar1:hover {
    background-color: #3875fc;
}

#navigation #bar2:hover {
    background-color: #ff8809;
}


#navigation #bar3:hover {
    background-color: #19be29;
}

#navigation #bar4:hover {
    background-color: #fa4842;
}


#secondH {
    width:78.5%;
    margin-bottom: 40px;
    margin-left:0;
    margin-right:0;
}


.container {
    width: 25%;
    height: 180px;
    background: #fff;
    margin-top: 30px;
    margin-bottom: 75px;
    background-size: cover;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
    height: 150px;
    position: relative;
}

.box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

    .box:hover {
        z-index: 9;
        background: white;
        border: 1px solid #999;
        box-shadow: 0 0 15px rgb(0 0 0 / 20%);
        opacity: 0.25;
    }






.wrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-right: 412px;
}

/* Slider */
.slider {
    max-width: 100%;
    width: 100%;
}

.slider-item {
    display: none;
}

.slider-item--visible {
    display: block;
}

/* Navbar */
.navbar {
    max-width: 100%;
    display: flex;
    align-items: flex-end;
    height: 8px;
}

.navbar-item {
    max-width: 33.3%;
    width: 100%;
    display: block;
    height: 5px;
    cursor: pointer;
    opacity: .5;
    transition: all .2s;
}

.navbar-item--selected {
    height: 8px;
    opacity: 1;
}

.navbar-item:nth-child(1) {
    background: #3875fc;
}

.navbar-item:nth-child(2) {
    background: #19be29;
}

.navbar-item:nth-child(3) {
    background: #fa4842;
}

.navbar-item:nth-child(4) {
    background: #ff8809;
}

#imgSeven {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 78.5%;
    height: auto;
}

.slidImg {
    width: 600px;
    height: auto;
    padding-bottom: 15px;
}

.ribbon_txt {
    color: white;
    padding-left: 2px;
    margin: 4px;
}

.ribbon_txt2 {
    font-size: 13px;
    color: white;
    padding-left: 2px;
    margin: 4px;
}

.ontop {
    margin-left: 10px;
    font-weight: bold;
}

.dlbtn {
    position:absolute;
    right: 150px;
    top: 6.5px;
}

.diffA {
    list-style: none;
}
